body {
  background: #EF7520;
}

div {
  display: table;
  margin: 40px auto 20px auto;
}

h1 {
  display: table;
  margin: 40px auto 20px auto;
  color: #fff;
  font: 22px Helvetica;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  display: table;
  margin: 0px auto;
  color: #fff;
  font: 14px Helvetica;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  display: table;
  margin: 40px auto;
  color: #fff;
  font: 14px Helvetica;
  font-weight: normal;
  letter-spacing: auto;
}

a {
  color:#EF7520;
}

textarea {
  font: 18px Helvetica, Arial, sans-serif;
  position: relative;
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 20px;
  width: 300px;
  max-width: 300px;
  margin: 20px auto;
  color: #999;
  background-color:#fff;
  transition: all 0.2s ease-in-out;

}

button {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  position: relative;
  border: none;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
  border: none;
  background-color:#333;
  color: #fff;
  padding: 16px 40px;

/*  &:hover {
    color: #000;
    background-color:#fff;
  }*/
}


#results, #clickResults {
  margin: 40px auto;
  color: #000;
  background-color:#fff;
  font: 18px Helvetica, Arial, sans-serif;
  display: block;
  border: none;
  padding: 20px;
  width: 260px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

#resultsLink {
  text-decoration: none;
}

#toUrl {
transition: all 0.2s ease-in-out;
font: 18px Helvetica, Arial, sans-serif;
border: none;
background: #333;
color: #fff;
padding: 20px 40px;
text-align: center;

  &:hover {
    background: #111;
  }
}

.convert-inputs{
  margin:auto;
  margin-top:2rem;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  align-items: center;
}

